name: Build the installers

on:
  push:
    branches: [ main ]
    tags:
    - '*'
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        # os: [ubuntu-18.04, ubuntu-20.04, macos-10.15, macos-11, windows-2019, windows-2022]
        os: [windows-2022]

    runs-on: ${{ matrix.os }}

    continue-on-error: true

    # concurrency: 
    #   group: ${{ github.head_ref }}
    #   cancel-in-progress: true

    steps:
      - uses: actions/checkout@v2

      - name: Install Micromamba
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: environment.yml
          micromamba-version: latest

      - name: Build installer
        shell: bash -l {0}
        run: |
          constructor recipes/mne-python_0.24

      - name: Run installer (macOS)
        if: ${{ runner.os == 'macOS' }}
        run: |
          installer -pkg MNE-Python-0.24.1_installer-2021.2-macOS.pkg -target CurrentUserHomeDirectory

      - name: Run installer (Linux)
        if: ${{ runner.os == 'Linux' }}
        run: |
          sh ./MNE-Python-0.24.1_installer-2021.2-Linux.sh -b

      # https://docs.anaconda.com/anaconda/install/silent-mode.html
      - name: Run installer (Windows)
        if: ${{ runner.os == 'Windows' }}
        shell: cmd
        run: |
          .\MNE-Python-0.24.1_installer-2021.2-Windows.exe /S /InstallationType=JustMe /AddToPath=1 /D=%UserProfile%\mne-python

      - name: Check installation (macOS)
        if: ${{ runner.os == 'macOS' }}
        run: |
          source ~/mne-python/bin/activate
          conda info
          mne sys_info

      - name: Check installation (Linux)
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo apt-get install -y xvfb
          source ~/mne-python/0.24.1/bin/activate
          conda info
          xvfb-run mne sys_info

      - name: Check installation (Windows)
        if: ${{ runner.os == 'Windows' }}
        run: |
          $MneRoot = "$env:UserProfile\mne-python"
          . "$MneRoot\shell\condabin\conda-hook.ps1"
          conda activate $MneRoot
          conda info
          . "$MneRoot\Scripts\mne.exe" sys_info

      # - name: Archive artifacts
      #   if: ${{ matrix.os == 'ubuntu-18.04' || matrix.os == 'macOS-10.15' || matrix.os == 'windows-2016' }}
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: MNE-Python
      #     path: |
      #       MNE-Python-*.*

      - name: Release
        if: |
          github.ref == 'main' &&
          (matrix.os == 'ubuntu-18.04' || matrix.os == 'macOS-10.15' || matrix.os == 'windows-2019')
        uses: ncipollo/release-action@v1
        with:
          artifacts: "MNE-Python-*installer*.*"
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: true
          prerelease: true
          allowUpdates: true
